@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

header {
  background-color: #1a1a1a;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid darkred;
}

header img {
  height: 120px;
}

img {
  max-width: 100%;
  height: auto;
  position: center;
}

div {
  background-color: #1a1a1a;
  border: 2px solid \darkred;
  padding: 20px;
  margin: 30px auto;
  width: 90%;
  border-radius: 10px;
}

h1, h2 {
  font-family: 'Creepster', cursive;
  color: red;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

p, li {
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
}

li {
    margin-left: 20px;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table, th, td {
  border: 1px solid red;
  width: 900px;
  margin: 30px auto;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  background-color: #111;
  color: white;
}

footer {
  background-color: #1a1a1a;
  text-align: center;
  padding: 10px;
  border-top: 2px solid darkred;
  margin-top: 40px;
}

.imagem-final {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.imagem-final img {
  width: 100%;
  object-fit: cover;
  display: block;
  margin-top: 0;
  border-top: 2px solid darkred;
}

.imagem-logo img{
  filter: invert(13%) sepia(89%) saturate(7416%) hue-rotate(3deg) brightness(110%) contrast(115%);
}

.active {
  font-weight: bold;
  color: white;
}

.zoom {
  transition: transform 0.4s ease, filter 0.4s ease;
  object-fit: cover;
  display: block;
  margin: auto;
}

.zoom:hover {
  transform: scale(2);
  filter: brightness(1.3) contrast(1.2);
}

.icon-img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: 10px;
  filter: grayscale(1) brightness(1.3);
}

.power-img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-left: 10px;
}

.perk-tooltip {
  position: relative;
  cursor: help;
  font-weight: bold;
}

.perk-tooltip::after {
  content: attr(data-title);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  white-space: normal;
  width: max-content;       
  max-width: 300px; 
  z-index: 10;
  font-size: 13px;
  width: max-content;
  max-width: 300px;
  text-align: center;
}

.perk-tooltip:hover::after {
  opacity: 1;
}
